html {
    margin-left: 25%;
	margin-right: 25%;
}

/* GENERAL */

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
	margin-left: 1em;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #5686BA;
    font-weight: normal;
    font-size: 18px;
    margin: .8em 0 .3em 0;
    text-align: center;
}

h2 {
    color: #000;
    font-weight: normal;
    font-size: 14px;
    margin: .8em 0 .3em 0;
    text-align: center;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #5686BA;
}

.body {
    float: left;
    width: 100%;
    padding: 10px;
    margin: 0 15px 10px 15px;
    border: 1px solid #5686BA;
    
}

.tagOutput{
	padding: 10px 0px 10px 0px;	
	font-size: 14px;
	width: 100%;
}
.tagBar{
	width: 50%;	
	float: left;
}
.tagNameLabel{
	width: 20%;
	height: 2em;
	float: left;
}
.tagPctLabel{
	width: 15%;
	height: 2em;
	float: left;
}
.clear {
    clear: both;
	height: 0;
	visibility: hidden;
}
